@charset UTF-8;
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web);
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
/*Formatação fundo pagina*/

body{

    background: #DEB887;
    color: rgba(0,0,0,1);
}


/*Formatação interface*/

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin:-10px auto 0px auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    padding: 1%;
    }

p{
    font-family: 'Cormorant Infant', serif;
    text-align: justify-all;
    text-indent: 20px;
    font-size: 20px;
    
}

/* Formatacao icons Pagina rodape */
    img#wrodape{
  position: fixed;
         height: 50px;
        bottom: 10px; 
        right: 10px;    

}

img#irodape{
    position: fixed;
    height: 50px;
    bottom: 10px;
    right: 80px;
}

img#frodape{
    position: fixed;
    height: 50px;
    bottom: 10px;
    right: 150px;
}
/*Formatação cabecalho e Imagem*/

img#icone{

    position: relative;
    top: -245px;   
    height: 100%;
    left: 480px;  


}

header#cabecalho {
    border-bottom: 2px #DEB887 solid;
    height: 139px;
    margin: -5px;
    
}
   header#cabecalho h1{
    font-family: 'Secular One', sans-serif;
    text-align: left;
    font-weight: bolder;
    display: block;
   font-size:70px;
	position: relative;
	top: -30px;
	right: 15%;
           
    
}


header#cabecalho h2{
     font-family: 'Rokkitt', serif;
    text-align: left;
    font-weight: bolder;
    display: block;
   font-size:50px;
	position: relative;
	top: -155px;
	margin-left: 580px
    
}

 

/*Formatação Imagens*/

img#unhas-bonitas{
    width: 100%;
    height: 100%;

}
img#cuidados-unhas{
    width: 100%;
    height: 100%;

}
aside#lateral img{
    position: relative;
    height: 225px;
    top: -253px;
    left: 63%;
    
}
/*Formatacao icons cabecalho*/
img#facebook {
    position: relative;
    height: 60px;
    top: -210px;
    left: 550px;
}

img#instagram {
    position: relative;
    height: 60px;
    top:-210px;
    left: 580px;
  
}

img#whatsapp {
    position: relative;
    height: 60px;
    top:-210px;
    left:610px;
}
/*Formatação do Menu*/

nav#menu {
    display: block;
}

nav#menu ul{
     list-style: none;
    text-transform: uppercase;
    position: relative;
   margin-top: -385px;
    margin-left: 523px;
    
        
}
nav#menu li{

    display: inline-block;
    background-color: #DEB887;
   padding: 1px;
    margin: 1px;
     -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;


}

nav#menu li:hover {
    background-color: rosybrown;
}
nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}
nav#menu a:hover{
    color: white;
    text-decoration: underline;
}
/*Formatação Corpo da tela*/
section#corpo {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #DEB887;
    padding-right: 5px;
    
}


section#corpo h1{
    font-family: 'Rokkitt', serif;
     font-weight: bolder;
    text-align: center;
    font-size: 35px;
}

section#corpo ul {
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
    padding-left: 15px;
    display: block;
    text-align: justify;
        
}
/*Formatação Lateral da tela*/
aside#lateral {
    display: block;
    width: 320px;
    float: right;
    
}

aside#lateral h1 {
     font-family: 'Rokkitt', serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: justify;
    text-indent: 30px;
    margin-left: -20px;
    



}

aside#lateral ul{
    font-family: 'Cormorant Infant', serif;
    /* font-family: 'Titillium Web', sans-serif; */
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    font-size: 15px;
    margin-left: -45px;
    
}
/*Formatação Rodape*/
footer#rodape {
    clear: both;
     border-top: 1px solid #DEB887;
}

footer#rodape p{
    font-family: 'Vidaloka', serif;
    text-align: center;
        

}

footer#rodape h2{
    font-family: 'Rokkitt', serif;
    text-align: left;
    font-weight: bolder;
    display: block;
   font-size: 30px;
	position: fixed;
	bottom: 49px;
	right: 2%;
    
}
